/* GLOBAL STYLES
 * Padding below the footer and lighter body text
* -------------------------------------------------- */

@font-face {
  font-family: "Cormorant Garamond light";
  src: url("/assets/fonts/static/CormorantGaramond-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GlacialIndifference";
  src: url("/assets/fonts/GlacialIndifference-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* padding-bottom: 40px; */
  /* color: #5a5a5a; */
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.nav li a {
  color: rgb(250, 250, 250);
  font-size: 1.5rem;
  background-color: transparent;
  /* transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

.nav li a:hover {
  /* transform: scale(1.05) rotate(0deg) translate(0px, -10px) skewX(0deg); */
  /* box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3); */
  /* opacity: 1; */
  /* filter: brightness(1.1); */
  /* color: #86a5ce; */
  /* border-bottom-color: #667eea; */
  background-color: transparent;
}

.nav li a:focus {
  background-color: transparent;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /* height: 59rem; */
  /* margin-bottom: 60px; */
  height: 100vh;
}

.carousel-caption {
  position: absolute;

  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 90%;

  z-index: 10;

  padding-bottom: 0;

  text-align: center;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  /* height: 59rem; */
  height: 100vh;
  position: relative;

  /* background-color: #777; */
}

.carousel-inner > .item > img {
  /* position: absolute; */
  /* top: 0;
  left: 0;
  min-width: 100%;
  height: 60rem; */
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.carousel .item::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* background: rgba(0, 0, 0, 0.25); */

  z-index: 1;
}

.hero-text {
  position: absolute;

  top: 42%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 90%;

  z-index: 3;

  padding-bottom: 0 !important;

  text-align: center;
}

.hero-subtitle {
  display: block;

  color: #d6b06c;

  font-size: 20px;

  letter-spacing: 2px;

  margin-bottom: 20px;
}

.hero-title {
  font-family: "Cormorant Garamond", serif;

  color: white;

  font-size: 70px;

  line-height: 0.95;

  font-weight: 400;

  margin-bottom: 40px;
}

.hero-desc {
  max-width: 850px;

  margin: auto;

  color: white;

  font-size: 24px;
  /* letter-spacing: 1px; */

  line-height: 1.4;

  font-family: "Cormorant Garamond light", serif;
}

.hero-scroll {
  margin-top: 40px;

  color: white;

  font-size: 70px;

  animation: scrollDown 2s infinite;
}
/* @keyframes scrollDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
} */

.carousellogo {
  width: 12rem;
}
.carousellogo2 {
  width: 45rem;
}

.carouselh4 {
  color: #feda88;
}

.menuleft {
  width: 5%;
}

.dropdown-menu {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.dropdown-item {
  color: #333 !important;
  font-weight: 500;
}

.dropdown-item:hover {
  background: #f5f5f5;
  color: #000 !important;
}

/* .video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
} */

/* ===== OUR STORY ===== */

.our-story {
  background: #f7f5f2;
  padding: 110px 0;
}

.story-label {
  display: inline-block;
  font-size: 24px;
  letter-spacing: 2px;
  color: #a48d60;
  margin-bottom: 20px;
  font-family: "GlacialIndifference", serif;
}

.story-label::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #a48d60;
  margin-top: 14px;
}

.story-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 54px;
  line-height: 1.2;
  color: #1b1b1b;

  max-width: 520px;
}

.story-text {
  margin-top: 40px;

  font-family: "Cormorant Garamond", serif;
  font-size: 24px;

  line-height: 1.8;
  color: #6d6a64;

  max-width: 480px;
}

.story-image {
  width: 100%;
  max-width: 490px;

  object-fit: cover;

  aspect-ratio: 3 / 3;
}

/* .video-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
} */

/* ========================== */
/* ===== EXPERIENCE SECTION ===== */

.experience-section {
  width: 100%;
  background: #fff;

  /* padding-top: 40px; */
  /* padding-bottom: 40px; */

  display: flex;
  justify-content: center;
}

.experience-banner {
  width: 100%;
  height: 420px;

  background-image: url("/distcarousel/image/experice.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  overflow: hidden;
}

/* shadow halus seperti contoh */
.experience-banner::after {
  content: "";

  position: absolute;
  inset: 0;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
}

/* mobile */
@media (max-width: 768px) {
  .experience-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .experience-banner {
    width: 95%;
    height: 220px;
  }
}

/* ============================ */
/* ===== OUR PHILOSOPHY ===== */

.philosophy-section {
  background: #f8f8f6;

  padding-top: 110px;
  padding-bottom: 120px;

  font-family: "Cormorant Garamond", serif;
}

/* .philosophy-label {
  display: block;

  font-size: 15px;

  letter-spacing: 2px;

  color: #a79d90;

  margin-bottom: 45px;
} */

.philosophy-label {
  font-size: 35px;
  letter-spacing: 3px;
  color: #b69b7a;
  text-transform: uppercase;
  margin-bottom: 90px;
  padding-bottom: 20px;
  font-family: "GlacialIndifference", serif;

  display: inline-block;
  position: relative;
}

/* garis bawah */
.philosophy-label::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -18px;

  width: 80px; /* panjang garis */
  height: 2px;
  background: #d8c5aa;
}

.philosophy-title {
  max-width: 1100px;

  margin: auto;

  font-size: 32px;

  line-height: 1.2;

  font-style: italic;

  font-weight: 600;

  color: #222;
}

.philosophy-row {
  padding-top: 90px;
}

.philosophy-item {
  text-align: center;

  position: relative;
}

.philosophy-item:not(:last-child)::after {
  content: "";

  position: absolute;

  right: 0;

  top: 2%;

  width: 1px;

  height: 320px;

  background: #efb059;
}

.philosophy-item img {
  width: 310px;

  height: auto;

  margin-bottom: 50px;
}

.philosophy-item h4 {
  font-size: 22px;

  letter-spacing: 5px;

  font-weight: 600;

  margin-bottom: 22px;

  font-family: "GlacialIndifference", serif;
}

.philosophy-item span {
  display: block;

  width: 50px;

  height: 1px;

  /* background: #ddd5cb; #a48d60 */
  background: #a48d60;

  margin: auto;

  margin-bottom: 26px;
}

.philosophy-item p {
  font-size: 26px;

  line-height: 1.7;
  font-family: "GlacialIndifference", serif;

  color: #333;
}

/* MOBILE */

@media (max-width: 768px) {
  .philosophy-section {
    padding: 70px 25px;
  }

  .philosophy-title {
    font-size: 30px;
  }

  .philosophy-row {
    padding-top: 50px;
  }

  .philosophy-item {
    margin-bottom: 70px;
  }

  .philosophy-item:not(:last-child)::after {
    display: none;
  }

  .philosophy-item img {
    width: 160px;
  }

  .philosophy-item p {
    font-size: 18px;
  }
}
/* =========================== */

.wsf {
  padding-top: 8%;
  font-family: "Cormorant Garamond", serif !important;
}

.wsf img {
  width: 346px;
  height: 466px;
}

.wsf h1 {
  padding-bottom: 6%;
  font-size: 50px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.36);
}

.middlecontentwdj {
  padding-top: 16.2%;
  padding-bottom: 13.4%;
}

.middlecontentwdj h2 {
  font-style: italic;
  font-weight: 600;
}

.build {
  width: 100%;
  height: 425px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(/distcarousel/image/backgroundbottomcontent.png);
}

.imgbuild {
  padding-top: 10%;
  padding-bottom: 5.5%;
  width: 55%;
  height: 10%;
}

.imgenquire {
  width: 25%;
  cursor: pointer;
}

/* === start footer === */
.footer {
  width: 100%;
  height: 24rem;
  background-color: #000;
}

.imglogo {
  padding-top: 21%;
  width: 200px;
  height: 170px;
}

.footer h3 {
  padding-top: 14%;
  color: #f2f2f2;
}

.waimg {
  margin-top: 2%;
  margin-right: 2%;
  width: 30px;
  height: 30px;
}

/* === end footer === */

.flip-box {
  width: 346px;
  height: 466px;
}

.flip-box-inner {
  position: relative;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;

  /* -webkit-backface-visibility: hidden; */
  backface-visibility: hidden;
}

.flip-box-front {
}

.flip-box-back {
  transform: rotateY(180deg);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }

  /* Bump up size of carousel content */
}

@media (min-width: 992px) {
}
